<ion-tabs class="tabs-icon-top tabs-positive">
    
    <ion-tab title="Profile" icon="ion-ios-person" href="#/app/profile">
        <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>  
    
    <ion-tab title="Feed" icon="ion-ios-paper" href="#/app/feed">
        <ion-nav-view name="feed-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Create" icon="ion-ios-compose" href="#/app/create">
        <ion-nav-view name="create-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Message" icon="ion-ios-chatbubble" href="#/app/message">
        <ion-nav-view name="message-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Search" icon="ion-ios-search-strong" href="#/app/search">
        <ion-nav-view name="search-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>