<ion-view title="Profile">
    <ion-content scroll="false">
<!--
    <div >
        <div >
            <a ng-click=""><button class="button button-block button-positive">{{user.name}}</button></a>
        </div>
    </div>
-->
    <div class="item item-text-wrap">
        <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s120/photo.jpg" class="center profileAvatar"/>
        <div class="text-center">
            <p>John Doe</p>
        </div>
    </div>
    <div class="button-bar">
        <a class="button" ng-class="{'button-positive': isActive('friends')}" ng-click="setActive('friends')">
<!--                <i class="icon ion-ios-person"></i>--> 
            My Friends
        </a>
        <a class="button" ng-class="{'button-positive': isActive('outgoing')}" ng-click="setActive('outgoing')">
<!--                <i class="icon ion-ios-personadd"></i>-->
            Outgoing
        </a>
        <a class="button" ng-class="{'button-positive': isActive('incoming')}" ng-click="setActive('incoming')">
<!--                <i class="icon ion-ios-personadd"></i>-->
            Incoming
        </a>
    </div>
    <div>
        <ion-scroll zooming="true" direction="y" ng-show="isActive('friends')">
            <ul class="list" ng-if="usersRetrieved && users.length > 0">
                <li class="item" ng-repeat="user in users">
                    {{user.name}}
<!--                    <a ng-click=""><button class="button button-block button-positive newProfileFriend">Add</button></a>-->
                </li>
            </ul>
            <div ng-if="usersRetrieved && users.length === 0">
                No friends yet!
            </div>
            <ul class="list" ng-if="friendshipsRetrieved && friendships.length > 0">
                <li class="item" ng-repeat="friendship in friendships">
                    friend
<!--                    <a ng-click=""><button class="button button-block button-positive newProfileFriend">Add</button></a>-->
                </li>
            </ul>
            <div ng-if="friendshipsRetrieved && friendships.length === 0">
                No friends yet!
            </div>
            
        </ion-scroll>
        <ion-scroll zooming="true" direction="y" ng-show="isActive('outgoing')">
            <ul class="list" ng-if="outgoingRequestsRetrieved && outgoingRequests.length > 0">
                <li class="item" ng-repeat="request in outgoingRequests">
                    request
<!--                    <a ng-click=""><button class="button button-block button-positive newProfileFriend">Add</button></a>-->
                </li>
            </ul>
            <div ng-if="outgoingRequestsRetrieved && outgoingRequests.length === 0">
                No requests yet!
            </div>
        </ion-scroll>
        <ion-scroll zooming="true" direction="y" ng-show="isActive('incoming')">
            <ul class="list" ng-if="incomingRequestsRetrieved && incomingRequests.length > 0">
                <li class="item" ng-repeat="request in incomingRequests">
                    request
<!--                    <a ng-click=""><button class="button button-block button-positive newProfileFriend">Add</button></a>-->
                </li>
            </ul>
            <div ng-if="incomingRequestsRetrieved && incomingRequests.length === 0">
                No friends yet!
            </div>
        </ion-scroll>
    </div>
    </ion-content>
</ion-view>