/***********NEW PROFILE SETUP******/
.newProfileAddFriend{
    float:right; 
}

/**********PROFILE PAGE************/
.profileAvatar {
    border-radius: 50%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

